@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.image {
    box-sizing: border-box;
    width: calc(100vw / 3);
    outline: red solid 0.5px;
}