body {
  margin: 0;
}

.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fast {
  animation-name: move;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes move {
  0% {
    transform: translateX(150px);
  }
  100% {
    transform: translateX(0);
  }
}

.cool {
  width: 150px;
  height: 50px;
  background-color: rgb(64, 119, 190);
  color: white;
  box-shadow: 0 0 5px 1px grey;
  border-radius: 5px;
  text-transform: uppercase;
  border: none;
  transition: all ease-in-out 1s;
}

.cool:hover {
  cursor: pointer;
  transform: scale(1.5) rotate(360deg);
}