@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body, p {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./imgs/bg.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    
}

.content {
    font-size: 2em;
}